# access files
CODEOWNERS               @vpayno

# CI files
/.github/                @vpayno
/.gitlab-ci.yaml         @vpayno

# sensitive documentation
LICENSE                  @vpayno
README.md                @vpayno
CHANGELOG.md             @vpayno

# tool configuration files
.gitignore               @vpayno
.markdownlint.yml        @vpayno
.dict-custom.txt         @vpayno
.pyspelling.yml          @vpayno
dictionary.dic           @vpayno
